{% comment %} <style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style> {% endcomment %}

<div class="template-404 page-width page-margin center">
  <h1 class="heading-title">oops!</h1>
    <div class="item-container">
      <p class="not-found-paragraph"> 404 - page not found</p>
        <div class="items-divider">
          <h2 class="para-title"><span class="top-heading">This link couldn't keep up with you.</span> <span class="bottom-heading">Let's Get Back To Something That Can.</span></h2>
          <a href="{{ routes.all_products_collection_url }}" class="back-button"> Back To Shop</a>
        </div>
    </div>
</div>
